header{
    display: flex;
    padding-bottom: 10px;
}

.movie_list {
    padding: 20px 30px;
}
.movie_list_header {
    padding: 10px 30px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.movie_list_heading {
    font-size: 26px;
    color: var(--heading_color);
}

.movie_filter {
    list-style: none;
    font-size: 16px;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.movie_filter_item {
    padding: 5px 10px;
    cursor: pointer;
}

.movie_filter_item.active {
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
}

.movie_sorting {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    height: 30px;
    padding: 0 5px;
    margin: 0 10px;
    
}
.movie_list_fs{
    display: flex;
    align-items: center;
    gap: 15px;
}

.movie_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}